/* src\components\BemVindo\styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #d2691e, #8b45);
    display: flex;
    min-height: 100vh;
}

.container {
    background: #f4f4f4;
    width: 900px;
    height: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}

.slogan {
    font-family: 'Times New Roman', Times, serif;
    color : #822e17;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 0 #ccc;
    text-align: center;
}

.logo {
    width: 333px;
    height: 223px;
    margin: 40px 40px;
    display: block;
    
}

.btn-cadastro {
    background-color: #822e17;
    color: #ffffff;
    font-size: 20px;
    margin: 70px 600px;
    width: 200px;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 2px 2px 5px #ccc;
    display: block;
}

.circle {
    width: 309px;
    margin: -4px auto;
    position: absolute;
}

.btn-cadastro:hover {
    background-color: #9c5d4e;
}
