/* src\components\BemVindo\styles.css */

.container {
    display: flex;
    background-color: #f4f4f4;
    flex-direction: column;
    width: 640px;
    height: 880px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

.slogan {
    font-family: 'Times New Roman', Times, serif;
    color : #822e17;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 160px 0;
    text-shadow: 2px 2px 0 #ccc;
}

.logo {
    width: 300px;
    margin-bottom: 20px;
    margin-left: 160px;
    margin-top: 40px;
}

.btn-cadastro {
    background-color: #822e17;
    color: #ffffff;
    padding: 15px 32px;
    font-size: 20px;
    margin: 4px 2px;
    width: 220px;
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 2px 2px 5px #ccc;
    justify-content: flex-end;
    margin-top: 80px;
    margin-left: 200px;
}

.btn-cadastro:hover {
    background-color: #9c5d4e;
}
