/* src\components\FormularioCadastro\styles.css */

.container {
    background: white;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.container img {
    width: 300px;
    margin-bottom: 5px;
    margin-top: -15px;
}

.logo {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #284ea7;
}
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}
  
input,
button {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
}

input {
    border: 1px solid #ccc;
}

select, button {
    font: Arial, sans-serif;
    font-size: 14px;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    color: #333;
}

select:focus, input:focus {
    border-color: #284ea7;
    outline: none;
}
  
button {
    background-color: #0c5da0;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #063e66; 
    margin-top: 10px;
    font-size: 15px;
    transition: 0.3s;
}
  
button:hover {
    background-color: #063e66;
}
  
.link-pratos {
    margin-top: 25px;
    text-decoration: none;
    color: #f4f4f4;
    font-size: 15px;
    margin-top: 10px;
}
  
.link-pratos:hover {
    text-decoration: none;
}
